@media all and (min-width : 1920px) {
  body,html {
    font-size: 18px!important;
  }
  .main-slider-section{
    height: auto;
  }
  .main-slider{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      position: static;
    }
  }
}

@media all and (max-width : 1920px) {
  body,html {
    font-size: 18px!important;
  }
  .main-slider{
    .main-slider-img-holder{
      height: 100%;
      width: 100%;
      position: relative;
      //background-size: cover;
      //left: 50%;
      //top: 0;
      //@include lazy-vendor(trsf,translateX(-50%));
      img{
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        width: auto;
      }
    }
  }

}
@media all and (max-width : 1750px) {
  body,html {
    font-size: 17px!important;
  }
  .main-slider-section{
    height: 550px;
  }
  .section-about-me .about-me-text-block{
    min-height: 29.9em;
  }
}
@media all and (max-width : 1600px) {
  body,html {
    font-size: 16px!important;
  }
  .main-slider-section{
    height: 500px;
  }
  .coop-section .section-gallery .gallery-block{
    &-1{
      width: 23%;
    }
    &-2{
      width: 28%;
    }
    &-3{
      width: 47%;
    }
  }
  .section-about-me .about-me-text-block{
    min-height: 32em;
  }
  .video-bg video{
    width: 60%;
  }
  .video-gradient{
    background: linear-gradient(to right,#dedede,#dedede 40%, rgba(255,255,255,0));
  }
  .zorin-big-image-text{
    width: 35%;
    top: -35px;
    margin-left: -10.3%;
  }
  .about-me-text-block{
    width: 65%;
  }
  .section-about-me .about-me-zorin{
    right: auto;
    left: 0;
  }
  .news-row:nth-child(2n) .news-row-text-sector{
    width: 30%;
  }
  .c-events-comment-first .c-events-comment-text-sector, .c-events-comment-third .c-events-comment-text-sector{
    width: 35%;
    margin-left: 3%;
  }
  .p-events-comment-section .container .row:nth-child(2n+1) .p-events-comment-text-sector{
    width: 35%;
    margin-left: 3%;
  }
  .c-events-comments-slider-section .c-events-comments-slider-holder{
    padding: 0 17%;
  }
}
      //LG>MD
@media all and (max-width : 1440px) {
  body,html {
    font-size: 14px!important;
  }
  .main-slider-section{
    height: 450px;
  }
  .section-about-me .about-me-text-block{
    min-height: 37.3em;
  }
  .about-me-zorin,.about-me-zorin-bottom{
    font-size: 160px;
  }
}
@media all and (max-width : 1400px) {
  .main-news-holder{
    &>div:last-child{
      display: none;
    }
  }
}
@media all and (max-width : 1366px) {
  body,html {
    font-size: 13px!important;
  }
  .main-slider-section{
    height: 430px;
  }
  .section-about-me .about-me-text-block{
    min-height: 40.4em;
  }
  .video-bg video{
    width: 65%;
  }
  .video-gradient{
    background: linear-gradient(to right,#dedede,#dedede 35%, rgba(255,255,255,0));
  }
}

@media all and (max-width : 1280px) {
  body,html {
    font-size: 12px!important;
  }
  .main-slider-section{
    height: 400px;
  }
  .section-about-me{
    .about-me-text-block{
      min-height: 44em;
    }
    .about-me-zorin,.about-me-zorin-bottom{
      font-size: 140px;
    }
  }
  .video-bg video{
    width: 75%;
  }
  .video-gradient{
    background: linear-gradient(to right,#dedede,#dedede 25%, rgba(255,255,255,0));
  }
}
      //MD>SM
@media all and (max-width : 1024px) {

}
      //SM>XS
@media all and (max-width : 768px) {

}

@media all and (max-width : 640px) {

}

@media all and (max-width : 540px) {

}

@media all and (max-width : 480px) {

}