@import 'core';
@import 'fonts';
@import 'colors';
//name says its all
@mixin lazy-vendor($property,$values){
  @if $property == b-sh{
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
    box-shadow: $values;
  } @elseif $property == b-r{
    -webkit-border-radius: $values;
    -moz-border-radius: $values;
    border-radius: $values;
  } @elseif $property == trs{
    -webkit-transition: $values;
    -moz-transition: $values;
    transition: $values;
  } @elseif $property == trsf{
    -webkit-transform: $values;
    -moz-transform: $values;
    transform: $values;
  } @elseif $property == t-o{
    -webkit-transform-origin: $values;
    -moz-transform-origin: $values;
    transform-origin: $values;
  } @elseif $property == b-s{
    -webkit-background-size: $values;
    -moz-background-size: $values;
    background-size: $values;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
}
//coloring link
@mixin color-this-link($default, $hovered:false) {
  color: $default;
  &:hover {
    @if $hovered {
      color: $hovered;
    } @else {
      color: $default;
    }
  }
}
//setting font features
@mixin setFont($font: false,$weight: false,$style: false,$size: false,$lh: false){
  @if $font == def{
    font-family: "Open Sans", sans-serif;
  } @elseif $font{
    font-family: $font, "Open Sans", sans-serif;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $style {
    font-style: $style;
  }
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
}
//clearfix
@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
//positioning
@mixin position($type: abs,$pos:t-l,$cust-t:0,$cust-r:0,$cust-b:0,$cust-l:0){
  @if $type == abs{
    position: absolute;
  } @elseif $type == fix{
    position: fixed;
  } @elseif $type == rel{
    position: relative;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
  @if $pos == cust{
    top: $cust-t;
    left: $cust-l;
    right: $cust-r;
    bottom: $cust-b;
  }  @elseif $pos == t-l{
    top: 0;
    left: 0;
  } @elseif $pos == t-r{
    top: 0;
    right: 0;
  } @elseif $pos == b-l{
    bottom: 0;
    right: 0;
  } @elseif $pos == b-r{
    bottom: 0;
    right: 0;
  } @else {
    error: OMG YOU GOT AN ERROR;
    background: red;
    animation: error 2s infinite ease;
  }
}
@keyframes slideFL {
  0%{
    left: -500px;
    opacity: 0
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFL2 {
  0%{
    right: 100%;
    opacity: 0;
  }
  50%{
    right: 100%;
    opacity: 0;
  }
  100%{
    right: 90px;
    opacity: 1;
  }
}
@keyframes slideFL3 {
  0%{
    left: -500px;
    opacity: 0
  }
  40%{
    left: -500px;
    opacity: 0
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFR {
  0%{
    left: 100%;
    opacity: 0;
  }
  50%{
    left: 100%;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes slideFR2 {
  0%{
    right: -500px;
    opacity: 0;
  }
  50%{
    right: -500px;
    opacity: 0;
  }
  100%{
    right: 30px;
    opacity: 1;
  }
}
@keyframes slideFB {
  0%{
    bottom: -500px;
    opacity: 0;
  }
  40%{
    bottom: -500px;
    opacity: 0;
  }
  100%{
    bottom: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes error {
  0%{
    outline: 3px solid red;
  }
  50%{
    outline: 10px solid red;
  }
  100%{
    outline: 3px solid red;
  }
}
html,body,.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  @include setFont(HelveticaNeueCyr,300,normal);
  color: $main-text-color;
  overflow-x: hidden;
}
.section{
  min-height: 500px;
  overflow-x: hidden;
  overflow-y: hidden;

}
.wrapper{
  position: relative;
}
.section-heading,.page-heading{
  h1,h2,h3,h4,h5,h6{
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    color: black;
    margin: 0;
    display: inline-block;
  }
}
.aside-header{
  @include position(fix,cust,40px,4.6875vw,auto,auto);
  display: table;
  z-index: 1000;
  a{
    @include color-this-link(black);
    display: table-row;
    &:hover,&.active{
      .expanding-circle{
        width: 12px;
        height: 12px;
        margin: -6px 0 0 -6px;
        @include lazy-vendor(trs,all 0.4s ease);
      }
      .text-header-sector{
        span::before{
          width: 10px;
          @include lazy-vendor(trs,width 0.2s 0.8s ease);
        }
        &::after{
          width: 36px;
          @include lazy-vendor(trs,width 0.4s 0.4s ease);
        }
      }
    }
  }
  .dot-header-sector{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    width: 12px;
    position: relative;
    padding: 0 4px;
    background: url("../images/dot.png") center no-repeat;
    background-size: 3px 3px;
    .expanding-circle{
      content: '';
      width: 0;
      height: 0;
      display: inline-block;
      @include lazy-vendor(b-r,50%);
      @include position(abs,cust,50%,auto,auto,50%);
      margin: -1px 0 0 -1px;
      @include lazy-vendor(trs,all 0.4s 0.6s ease);
      z-index: 1100;
      border: 1px solid #6f6c6f;
    }
  }
  .ie-fix-block{
    height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .text-header-sector{
    padding-right: 36px;
    padding-left: 10px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    position: relative;
    span{
      display: inline-block;
      position: relative;
      line-height: 1.75em;
      font-size: 1.166em;
      padding: 0 5px;
      text-transform: uppercase;
    }
    span::before,&::after{
      content: '';
      display: inline-block;
      height: 0;
      border-bottom: 1px solid #6f6c6f;
    }
    span::before{
      width: 0;
      @include position(abs,cust,50%,100%,auto,auto);
      @include lazy-vendor(trs,width 0.2s ease);
    }
    &::after{
      width: 0;
      @include position(abs,cust,50%,0,auto,auto);
      @include lazy-vendor(trs,width 0.4s 0.2s ease);
    }
  }
}
.all-news-btn{
  @include color-this-link(black);
  float: right;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 0.888em;
}
.main-slider-section{
  position: relative;
  height: 600px;
  margin-bottom: 6.666em;
  overflow: hidden;
}
.main-slider {
  height: 100%;
  display: block;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  .swiper-slide{
    position: relative;
  }
}
.main-slider-mask{
  @include position(abs,cust);
  z-index: 800;
  //background: rgba(232,232,232,0.5);
}
.main-slider-logo{
  @include setFont(Lombok,false,false,4em);
  color: white;
  position: relative;
  z-index: 900;
  margin: 0.3em 0 0;
  line-height: 1em;
  left: 0;
  opacity: 1;
  animation: slideFL 1.8s ease;
}
.slider-description{
  text-align: center;
  color: white;
  padding-top: 7em;
  position: relative;
  display: none;
  bottom: 0;
  opacity: 1;
  &.animate-description{
    display: block;
    animation: slideFB 2.85s ease;
  }
  h2,span,a{
    display: inline-block;
  }
  h2{
    font-size: 2.5em;
    margin: 0;
  }
  span{
    font-size: 1.333em;
    margin-bottom: 0.5em;
    width: 100%;
  }
  a{
    font-size: 1.1111em;
    width: 9.4em;
    line-height: 2.5em;
    @include color-this-link(white);
    border: 1px solid white;
    background: rgba(0,0,0,0.1);
    @include lazy-vendor(trs,background 0.3s ease);
    &:hover{
      background: rgba(0,0,0,0.3);
    }
  }
}
.swiper-pagination{
  left: 0;
  right: 0;
  bottom: 2.2em;
  animation: fadeIn 5s ease;
  span{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background: white;
    @include lazy-vendor(trs,background 0.5s ease);
    margin-right: 10px;
    opacity: 1;
    &:last-child{
      margin-right: 0;
    }
  }
  .swiper-pagination-bullet-active{
    background: transparent;
  }
}
.about-section{
  position: relative;
  padding-bottom: 37em;
  margin-bottom: 4.2em;

  .pre-line{
    @include position(abs,t-r);
    width: 0;
    height: 0;
    border-bottom: 1px solid #6d6a6d;
    @include lazy-vendor(trs,width 1s ease);
  }
  .h-type-a{
    h3{
      font-size: 2em;
      display: inline-block;
      padding-right: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #6d6a6d;
      margin: 0;
      font-weight: 300;
      color: #4a4a4a;
    }
  }
  .text-sector{
    width: 58%;
    position: relative;
    left: -500px;
    opacity: 0;
    p{
      padding: 1.875em 0 1.5em;
      font-size: 0.888em;
      margin: 0;
      color: #4a4a4a;
    }
    .section-link-btn {
      display: inline-block;
      font-size: 0.777em;
      width: 10.4em;
      text-align: center;
      line-height: 2.85em;
      @include color-this-link(black);
      border: 1px solid #6d6a6d;
    }
  }
  .img-sector{
    width: 34%;
    height: 24em;
    position: absolute;
    right: -500px;
    opacity: 0;
    top: 8em;
    text-align: right;
    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }
  .section-content{
    position: relative;
  }
  &.scrollTriggered{
    .pre-line{
      width: 70%;
    }
    .sliding-img{
      animation: slideFR 5s ease;
      left: 0;
      opacity: 1;
    }
    .about-logo{
      animation: slideFL2 5s ease;
      right: 90px;
      opacity: 1;
    }
    .img-sector{
      animation: slideFR2 2s ease;
      right: 30px;
      opacity: 1;
    }
    .text-sector{
      animation: slideFL3 2s ease;
      left: 0;
      opacity: 1;
    }
  }
}
.sliding-img{
  height: 23.222em;
  position: absolute;
  bottom: 0;
  left: 100%;
  opacity: 0;
  img{
    height: 100%;
    width: auto;
  }
}
.about-logo{
  height: 14em;
  position: absolute;
  bottom: -0.3em;
  right: 100%;
  opacity: 0;
  img{
    height: 100%;
    width: auto;
  }
}
.video-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  video{
    width: 53%;
    float: right;
    height: 100%;
    position: relative;
    z-index: 400;
  }
}
.video-holder{
  position: relative;
  height: 100%;
  z-index: 300;
  @include cf();
}
.video-mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: rgba(255,255,255,0.22);
}
.video-gradient{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#dedede,#dedede 47%, rgba(255,255,255,0));
  z-index: 450;
}
.privet-section,.coop-section{
  padding-bottom: 5.555em;
  .section-heading h3{
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding: 1.525em 0 0.8em;
    font-weight: 300;
    color: black;
  }
  .content-holder{
    background: white;
    position: relative;
    text-align: center;
    color: #746f6f;
    p{
      margin: 0;
      padding-bottom: 1em;
      text-align: left;
      white-space: pre-line;
      color: black;
    }
    a{
      display: inline-block;
      width: 10.7em;
      line-height: 3.57em;
      background: #e5e5e5;
      font-size: 0.777em;
      color: black;
      padding: 0 2.7em;
    }
  }
  .circle-holder{
    text-align: right;
    .circle{
      width: 24px;
      height: 24px;
      @include lazy-vendor(b-r,50%);
      border: 1px solid #ebebeb;
      position: relative;
      display: inline-block;
      margin-left: 16px;
    }
    .dot{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      background: #ebebeb;
      @include lazy-vendor(b-r,50%);
      margin: -3px 0 0 -3px;
    }
    .line{
      position: absolute;
      top: 50%;
      right: 50%;
      height: 1px;
      width: 18.3em;
      background: #ebebeb;
    }
  }
  .letter{
    width: 19.7em;
    position: absolute;
    z-index: 700;
    top: 5px;
  }
  .line-left{
    position: absolute;
    top: 1.666em;
    border-left: 1px solid #969496;
    width: 0;
    height: 0;
    @include lazy-vendor(trs,height 1s ease);
  }
  .section-content{
    position: relative;
    z-index: 500;
  }
  .information-area{
    position: relative;
  }
  .afterline{
    width: 0;
    border-top: 1px solid #6d6a6d;
    margin-top: 2em;
    @include lazy-vendor(trs,width 3s 2s ease);
  }
  .gallery-block{
    position: relative;
    &:after{
      display: block;
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 900;
      background: rgba(255,255,255,0.5);
      @include lazy-vendor(trs,background 0.5s ease);
    }
    &:hover:after{
      background: rgba(255,255,255,0);
    }
    &-5:after{
      display: none;
    }
    &-5{
      position: relative;
      bottom: -500px;
      opacity: 0;
    }
  }
  &.scrollTriggered{
    .gallery-block-5{
      bottom: 0!important;
      opacity: 1!important;
      animation: slideFB 3s ease;
    }
  }
}
.coop-section{
  position: relative;
  .line-left{
    left: -1.666em;
  }
  .content-holder{
    height: 25em;
    padding: 3em 1.35em 0 13em;
    p:last-of-type{
      padding-bottom: 2.5em;
    }
  }
  .information-area{
    padding-left: 7.5em;
  }
  .letter{
    left: 0;
  }
  .circle-holder{
    padding-bottom: 2.7em;
  }
  .section-gallery{
    margin-top: -4.166em;
    position: relative;
    z-index: 800;
    .gallery-row{
      white-space: nowrap;
      &:first-child{
        padding-bottom: 1em;
      }
    }
    .gallery-block{
      width: 30%;
      margin-right: 5%;
      display: inline-block;
      vertical-align: bottom;
      &-1{
        width: 14.1em;
        margin-right: 1.75em;
      }
      &-2{
        width: 18.33em;
        margin-right: 1em;
      }
      &-3{
        width: 31.11em;
        margin-right: 0;
      }
      &-4{
        vertical-align: middle;
      }
      &-5{
        vertical-align: middle;
      }
      &-6{
        vertical-align: middle;
        margin-right: 0;
      }
    }
  }
  &.scrollTriggered{
    .line-left{
      height: 50%;
    }
    .afterline{
      width: 250%;
    }
  }
}
.privet-section{
  position: relative;
  .content-holder{
    height: 22em;
    padding: 3.333em 11.5em 0 2.777em;
    p:last-of-type{
      padding-bottom: 3em;
    }
  }
  .circle-holder{
    padding-top: 2em;
    margin-right: -3.6em;
  }
  .letter{
    right: 0;
  }
  .line-left{
    left: 1.5em;
  }
  .information-area{
    padding-right: 13.222em;
    padding-bottom: 2.5em;
  }
  .afterline{
    margin-top: 2em;
    margin-left: 20em;
  }
  .gallery-block{
    &-1{
      margin-top: -11.833em;
      float: right;
      width: 19.44em;
      padding-bottom: 15px;
    }
    &-2{
      padding-bottom: 15px;
    }
    &-4{
      clear: both;
    }
    &-5{
      text-align: center;
      padding-top: 3em;
      img{
        width: 18em;
        display: inline-block;
      }
    }
  }
  &.scrollTriggered{
    .line-left{
      height: 78%;
    }
    .afterline{
      width: 250%;
    }
  }
}
.news-section{
  padding-bottom: 4.444em;
  .section-heading h3{
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 1.375em;
    font-weight: 300;
    color: black;
  }
  .section-content{
    position: relative;
    padding-top: 1em;
    color: #aaaaaa;
  }
  .news-block{
    z-index: 500;
    position: relative;
    background: white;
    @include lazy-vendor(b-sh,5px 0 15px 0 #ccc);
    &:hover{
      .news-text-sector{
        height: 46.2em;
      }
      .news-img-sector{
        padding-bottom: 0;
      }
    }
  }
  .news-text-sector{
    font-size: 0.777em;
    padding: 2.5em 2em 2em;
    height: 22em;
    overflow: hidden;
    @include lazy-vendor(trs,height 0.5s ease);
  }
  .news-heading{
    h4{
      margin: 0;
      font-size: 1em;
      font-weight: 300;
      color: black;
      text-transform: uppercase;
    }
  }
  .news-img-sector{
    position: relative;
    padding-bottom: 94%;
    @include lazy-vendor(trs,padding-bottom 0.5s ease);
    overflow: hidden;
    .triangle{
      width: 0;
      height: 0;
      position: absolute;
      @include lazy-vendor(trsf,translateX(-50%));
      left: 50%;
      bottom: 0;
      border-bottom: 18px solid white;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
    img{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
.contacts-section{
  position: relative;
  .video-bg{
    top: 5.166em;
  }
  .partners-row{
    text-align: right;
    position: relative;
    z-index: 800;
  }
  .section-link-btn{
    display: inline-block;
    font-size: 0.777em;
    width: 10.71em;
    min-width: 5.71em;
    text-align: center;
    max-width: 20%;
    border: 1px solid black;
    vertical-align: middle;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    @include color-this-link(black,black);
    background: white;
    position: relative;
    z-index: 300;
    span{
      display: inline-block;
      line-height: 2em;
    }
    img{
      width: 80%;
    }
  }
  //.pre-line{
  //  height: 0;
  //  width: 0;
  //  .dot{
  //    width: 5px;
  //    height: 5px;
  //    margin-left: -2px;
  //    display: inline-block;
  //    margin-top: -2px;
  //    background: black;
  //    vertical-align: top;
  //    @include lazy-vendor(b-r,50%);
  //  }
  //}
  .circle-holder{
    display: inline-block;
    height: 17px;
    width: auto;
    padding-right: 850px;
    .circle{
      width: 17px;
      display: inline-block;
      vertical-align: top;
      height: 17px;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
      position: relative;
      &:after{
        display: inline-block;
        content: ' ';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 50%;
        top: 50%;
        margin-top: -2px;
        margin-left: -2px;
        background: #000;
        @include lazy-vendor(b-r,50%);
      }
    }
    .line{
      height: 0;
      width: 870px;
      background: black;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 8px;
      top: 8px;
      border-bottom: 1px solid black;
      @include lazy-vendor(trs,width 0.5s ease);
    }
  }
  .contacts-img-row{
    img{
      margin-top: -3.5em;
      width: 80%;
      float: right;
    }
  }
  .container{
    z-index: 700;
    position: relative;
  }
  .contacts-row{
    padding-top: 2.5em;
    padding-bottom: 1.666em;
    color: #6d6a6d;
    &>div:first-child{
      text-align: right;
    }
    .circle{
      display: inline-block;
      text-align: center;
      width: 17px;
      height: 17px;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
      @include lazy-vendor(trs,all 0.4s ease);
      vertical-align: text-bottom;
      .dot{
        width: 5px;
        height: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -10px;
        background: black;
        @include lazy-vendor(b-r,50%);
      }
      .afterline{
        float: right;
        margin-top: 2px;
        border-bottom: 1px solid black;
        width: 0;
        height: 0;
        @include lazy-vendor(trs,width 1s 0.4s ease);
      }
    }
  }
  .section-heading{
    h3{
      font-size: 1.333em;
      color: black;
      text-transform: uppercase;
      margin: 0;
      line-height: 1em;
      font-weight: 300;
    }
  }
  .contact-block{
    display: inline-block;
    vertical-align: top;
    &:first-child{
      color: #6d6a6d;
    }
    .circle{
      width: 17px;
      height: 17px;
      display: inline-block;
      @include lazy-vendor(b-r,50%);
      text-align: center;
      vertical-align: middle;
      border: 1px solid #898989;
      @include lazy-vendor(trs,border 0.4s ease);
    }
    .dot{
      width: 5px;
      height: 5px;
      @include lazy-vendor(b-r,50%);
      vertical-align: middle;
      display: inline-block;
      margin-top: -10px;
      background: #898989;
      @include lazy-vendor(trs,background 0.4s ease);
    }
    .download-presentation,.download-gallery,.download-recomendations{
      display: block;
      @include color-this-link(#b1b1b1,black);
      @include lazy-vendor(trs,color 0.4s ease);
      span{
        display: inline-block;
        margin-left: 5px;
        text-transform: uppercase;
        vertical-align: baseline;
        line-height: 1em;
      }
      &:hover{
        .circle{
          border: 1px solid black;
        }
        .dot{
          background: black;
        }
      }
    }
  }
  .contact-links{
    @extend .thl;
    padding-left: 2.5em;
    padding-right: 1.666em;
    li{
      width: 2.555em;
      height: 2.555em;
      margin-left: 5px;
      border: 3px solid white;
      @include lazy-vendor(trs,border 0.4s ease);
      &:hover{
        border: 3px solid #b1b1b1;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 100%;
      line-height: 1.333em;
      font-size: 1.666em;
      @include lazy-vendor(trs,color 0.4s ease);
      @include color-this-link(white,#b1b1b1)
    }
  }
  &.scrollTriggered{
    .pre-line{
      width: 80%;
    }
    .contacts-row{
      .afterline{
        width: 1000px;
      }
    }
  }
}
.background-mask{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 2000;
}
.section-about-me{
  padding-top: 3.333em;
  color: black;
  div{
    z-index: 5;
  }
  .large-img-boot-block{
    z-index: 1;
  }

  .section-heading{
    padding-bottom: 1.666em;
    h1{
      font-size: 2em;
      line-height: 1.21;
    }
  }
  p{
    margin: 0;
    padding-bottom: 1.111em;
    &:last-child{
      padding-bottom: 0;
    }
  }
  .about-me-text-block{
    padding-bottom: 160px;
    min-height: 28em;
    position: relative;
  }
  .about-me-zorin{
    font-family: Lombok,"Open Sans",sans-serif;
    font-size: 186px;
    display: inline-block;
    line-height: 1em;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: black;
    opacity: 0.06;
  }
}
.about-me-centered-row{
  font-size: 0;
  text-align: right;
  padding-bottom: 6.666rem;
}
.centered-row-text-sector{
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  width: 36.84%;
}
.centered-row-img-sector{
  width: 58.333%;
  margin-left: 4.827%;
  display: inline-block;
  vertical-align: middle;
}
.section-about-me-top-sector{
  padding-bottom: 3.333em;
}
.zorin-large-img-row{
  font-size: 0;
  text-align: left;
  padding-bottom: 3.333rem;
}
.zorin-big-image-text{
  font-size: 1rem;
  display: inline-block;
  vertical-align: bottom;
  width: 46.1%;
  margin-left: 1.75%;
}
.zorin-large-img-holder{
  width: 52.15%;
  height: 0;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50.78125vw;
  }
}
.separated-zorin-text-block{
  text-align: right;
}
.about-me-text-large{
  font-size: 2em;
  text-transform: uppercase;
}
.separated-zorin-row{
  padding-bottom: 3.333em;
}
.separated-zorin-text-block{
  position: relative;
  padding-bottom: 160px;
}
.about-me-zorin-bottom{
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 186px;
  display: inline-block;
  line-height: 1em;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: black;
  opacity: 0.06;
}
.zorin-about-me-gallery{
  @include cf();
  padding-bottom: 3.333em;
}
.zorin-gallery-block{
  display: inline-block;
  float: left;
  width: 30.7%;
  margin-right: 3.95%;
  &:last-child{
    margin-right: 0;
  }
}
.about-me-bottom-bg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.1;
}
.footer-content{
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.footer{
  position: relative;
  z-index: 50;
  padding-bottom: 0.555em;
}
.footer-row{
  text-align: center;
}
.footer-heading{
  position: relative;
  span{
    font-size: 2em;
    line-height: 1em;
    color: black;
  }
  .footer-circle-box{
    position: absolute;
    left: -2.666em;
    top: 50%;
    @include lazy-vendor(trsf,translateY(-50%));
    .footer-heading-circle{
      display: block;
      position: relative;
      width: 18px;
      height: 18px;
      border: 1px solid black;
      @include lazy-vendor(b-r,50%);
    }
    .footer-heading-dot{
      width: 5px;
      height: 5px;
      @include lazy-vendor(b-r,50%);
      background: black;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .footer-heading-line{
      position: absolute;
      top: 50%;
      right: 50%;
      height: 0;
      width: 9999px;
      border-top: 1px solid black;
    }
  }
}
.footer-block{
  padding-top: 3.666em;
  display: inline-block;
  text-align: left;
  position: relative;
  left: 4vw;
  &:first-child{
    width: 13.888em;
    padding-right: 1.111em;
  }
  &:nth-child(2){
    padding-top: 0;
  }
  &:last-child{
    width: 22em;
    color: black;
    padding-left: 3.6em;
  }
}
.footer-block{
  display: inline-block;
  vertical-align: top;
  .contact-links{
    padding-top: 1.666em;
  }
  &:first-child{
    color: black;
  }
  .circle{
    width: 17px;
    height: 17px;
    display: inline-block;
    @include lazy-vendor(b-r,50%);
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    position: relative;
  }
  .dot{
    width: 5px;
    height: 5px;
    @include lazy-vendor(b-r,50%);
    //vertical-align: middle;
    display: inline-block;
    //margin-top: -10px;
    background: black;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .download-presentation,.download-gallery,.download-recomendations{
    display: block;
    @include color-this-link(black,black);
    @include lazy-vendor(trs,color 0.4s ease);
    padding-bottom: 0.555em;
    span{
      display: inline-block;
      margin-left: 5px;
      text-transform: uppercase;
      vertical-align: baseline;
      line-height: 1em;
    }
  }
  .footer-info-heading{
    padding-bottom: 0.888em;
  }
}
.contact-links{
  @extend .thl;
  li{
    width: 2.555em;
    height: 2.555em;
    margin-right: 5px;
    border: 3px solid #9b9b9b;
    @include lazy-vendor(trs,border 0.4s ease);
    &:hover{
      border: 3px solid #b1b1b1;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    line-height: 1.333em;
    font-size: 1.666em;
    @include lazy-vendor(trs,color 0.4s ease);
    @include color-this-link(#9b9b9b,#b1b1b1)
  }
}
.footer-contacts{
  @extend .thl;
  color: #746f6f;
}
.development{
  display: inline-block;
  font-size: 0.888em;
  color: #939393;
  a{
    @include color-this-link(#939393,#939393);
    text-decoration: underline;
  }
}
.news-starting-zorin,.starting-zorin-404{
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 186px;
  display: inline-block;
  line-height: 1em;
  position: absolute;
  top: -40px;
  left: 0;
  color: black;
  opacity: 0.06;
  z-index: 20;
}
.news-starting-zorin{
  font-size: 140px;
  top: -30px;
}
.starting-zorin-404{
  top: 0;
}
.block-404{
  position: relative;
  padding-top: 255px;
  padding-bottom: 100px;
}
.news-bg-block{
  display: inline-block;
  position: absolute;
  opacity: 0.07;
  z-index: 1;
  &-1{
    width: 40.78125%;
    left: 0;
    top: 40em;
  }
  &-2{
    width: 40.052%;
    right: 0;
    top: 111.11em;
  }
}
.news-page-section{
  padding: 6.666em 15px 0;
  width: 1490px;
  max-width: 100%;
  margin: 0 auto;
  .news-row{
    &:nth-child(2n){
      text-align: left;
      .news-row-img-sector{
        margin-right: 4.2%;
      }
    }
    &:nth-child(2n+1){
      text-align: right;
      .news-row-img-sector{
        margin-left: 4.2%;
      }
    }
  }
  .page-heading{
    padding-bottom: 1.666em;
    h1{
      color: black;
      font-size: 2em;
      padding-bottom: 0.666rem;
      position: relative;
      display: inline-block;
      &:after{
        display: inline-block;
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        border-top: 1px solid black;
      }
    }
  }
}
.news-row{
  font-size: 0;
  padding-bottom: 3.333rem;
  position: relative;
  z-index: 5;
  .news-row-img-sector,.news-row-text-sector{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.888rem;
    color: black;
  }
  .news-row-img-sector{
    width: 41%;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.5);
    }
  }
  .news-row-text-sector{
    width: 54.8%;
  }
  .news-heading{
    color: black;
    padding-bottom: 1.111em;
    h3{
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
    }
  }
  p{
    margin: 0;
    padding-bottom: 1.111em;
  }
}
.footer-with-bg{
  padding: 3.333em 0 2.5em;
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
}
.c-events-section{
  width: 1170px;
  max-width: 100%;
  padding: 3.333em 0 0;
  position: relative;
  margin: 0 auto;
  .section-heading{
    padding: 0 15px 15em;
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    h1{
      font-size: 2em;
      line-height: 1.5;
      position: relative;
      display: inline-block;
      &:after{
        display: inline-block;
        width: 7.222em;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        border-top: 1px solid black;
      }
    }
  }
}
.c-events-starting-zorin{
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 130px;
  display: inline-block;
  line-height: 1em;
  position: absolute;
  top: -29px;
  right: 15px;
  color: black;
  opacity: 0.06;
  z-index: 20;
}
.events-timeline{
  height: 1px;
  width: 100%;
  position: relative;
  margin-bottom: 5.75em;
  .timeline{
    float: right;
    width: 150%;
    height: 1px;
    border-top: 1px solid #6d6a6d;
    @include lazy-vendor(trs,background 3s ease);
    &-mask{
      position: absolute;
      right: 0;
      width: 150%;
      background: white;
      height: 3px;
      top: -1px;
    }
  }
}
.timeline-block{
  width: 11px;
  height: 11px;
  position: absolute;
  top: -5px;
  border: 1px solid #6d6a6d;
  @include lazy-vendor(b-r,50%);
  background: white;
  &-transparent{
    background: transparent;
    border: none;
  }
  &-ukraine{
    left: 2.6315%;
    .timeline{
      &-line{
        height: 4.166em;
      }
      &-infoblock{
        bottom: 4.166em;
      }
    }
  }
  &-empty{
    left: 10.96%;
    .timeline-line{
      height: 5.555em;
    }
  }
  &-mic{
    left: 28.94%;
    .timeline-infoblock{
      bottom: 10px;
      text-align: center
    }
    &-heading{
      display: inline-block;
      width: 100%;
    }
    &-block{
      &-bottom-row{
        white-space: nowrap;
        padding-top: 1.333em;
      }
      &-from,&-to{
        display: inline-block;
        width: 5em;
        padding: 0 1em;
        vertical-align: top;
      }
      &-mic{
        display: inline-block;
        width: 3.166em;
        vertical-align: top;
      }
    }
  }
  &-europe{
    left: 42.98%;
    .timeline{
      &-line{
        height: 2.777em;
      }
      &-infoblock{
        top: 2.777em;
      }
    }
  }
  &-transparent{
    left: 55.28%;
    .position-reset .timeline-dot{
      top: 4px;
    }
  }
  &-counter{
    left: 68.94%;
    .timeline{
      &-line{
        height: 4.166em;
      }
      &-infoblock{
        bottom: 4.166em;
        white-space: nowrap;
        .counter-number{
          display: inline-block;
          width: 2.25em;
          height: 4.111em;
          color: #939393;
          position: relative;
          overflow: hidden;
          &-old{
            position: absolute;
            font-size: 4.111em;
            bottom: 0;
            line-height: 1em;
          }
          &-new{
            position: absolute;
            font-size: 4.111em;
            line-height: 1em;
            bottom: 100%;
          }
        }
      }
    }
    .c-event-counter{
      position: relative;
      .counter-text{
        position: absolute;
        left: 110%;
        bottom: 0.25em;
        font-size: 1.666em;
        color: #939393;
      }
    }
  }
  &-transparent-second{
    right: 18.15%;
    left: auto;
  }
  &-world{
    right: 2.28%;
    .timeline{
      &-line{
        height: 2.777em;
      }
      &-infoblock{
        top: 2.777em;
        white-space: nowrap;
      }
    }
  }
  .position-reset{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .timeline{
    &-dot{
      position: absolute;
      width: 3px;
      height: 3px;
      @include lazy-vendor(b-r, 50%);
      background: black;
      top: 3px;
      left: 3px;
    }
    &-line{
      position: absolute;
      left: 4px;
      width: 1px;
      background: black;
      &-top{
        bottom: 4px;
      }
      &-bottom{
        top: 4px;
      }
    }
    &-infoblock{
      display: inline-block;
      position: absolute;
      left: 50%;
      color: black;
      @include lazy-vendor(trsf,translateX(-50%));
      &-top{
        padding-bottom: 10px;
      }
      &-bottom{
        padding-top: 10px;
      }
    }
  }
}
.events-centered-row{
  font-size: 0;
  padding-bottom: 2.777rem;
  &-img-sector{
    width: 31.14%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 0;
    right: 500px;
    @include lazy-vendor(trs,all 1s ease);
  }
  &-text-sector{
    width: 68.86%;
    display: inline-block;
    font-size: 1rem;
    padding-left: 2.777em;
    vertical-align: middle;
    color: #000;
    position: relative;
    left: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
}
.text-sector-heading{
  font-size: 1.666em;
  padding-bottom: 0.6em;
  display: inline-block;
  width: 100%;
}
.events-types{
  @extend .tvl;
  li{
    padding-bottom: 1em;
    .event-name{
      font-weight: 700;
    }
  }
}
.c-events-section.scrollTriggered{
  .events-centered-row-img-sector{
    opacity: 1;
    right: 0;
  }
  .events-centered-row-text-sector {
    opacity: 1;
    left: 0;
  }
}
.c-events-gallery-section{
  position: relative;
  padding-bottom: 3.333em;
  .gallery-bg{
    position: absolute;
    left: 0;
    top: 6.388em;
    width: 100%;
    opacity: 0.06;
    z-index: 1;
  }
  .container{
    z-index: 5;
    position: relative;
  }
}
.c-events-gallery-text{
  margin-top: 11.111em;
  position: relative;
  text-align: center;
  color: #000;
  p{
    margin: 0;
    padding-bottom: 0.555em;
    &:last-child{
      padding-bottom: 0;
    }
  }
  .quotes{
    position: absolute;
    right: 95%;
    bottom: 100%;
    width: 7.555em;
    &-end{
      left: 80%;
      top: 100%;
      bottom: auto;
      right: auto;
      @include lazy-vendor(trsf,rotate(180deg));
    }
  }
}
.c-events-gallery-block{
  margin-bottom: 2.222em;
  position: relative;
  overflow: hidden;
  &-wide{
    margin-right: -34px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 105%;
    background: rgba(255,255,255,0.5);
    @include lazy-vendor(trs,all 0.5s ease);
  }
  &:hover:after{
    background: rgba(255,255,255,0);
  }
  &.nofilter:after{
    display: none;
  }
}
.c-events-gallery-zorin{
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 186px;
  display: inline-block;
  line-height: 1em;
  float: right;
  color: black;
  opacity: 0.06;
  margin-top: -20px;
}
.c-events-gallery-section{
  .c-events-gallery-text{
    opacity: 0;
    @include lazy-vendor(trs,all 0.5s 1.2s ease);
  }
  .gallery-bg{
    opacity: 0;
    @include lazy-vendor(trs,all 0.6s ease);
  }
  .c-events-gallery-block{
    position: relative;
    @include lazy-vendor(trs,all 1s 0.5s ease);
    opacity: 0;
  }
  .c-events-gallery-block-top-left{
    bottom: 150px;
    right: 150px;
  }
  .c-events-gallery-block-bottom-left{
    top: 150px;
    right: 150px;
  }
  .c-events-gallery-zorin{
    position: relative;
    @include lazy-vendor(trs,all 1s 1s ease);
    right: 400px;
    opacity: 0;
  }
  .c-events-gallery-block-wide{
    bottom: 150px;
    left: 150px;
  }
  .c-events-gallery-block.nofilter{
    top: 150px;
    left: 150px;
  }
  &.scrollTriggered{
    .c-events-gallery-text{
      opacity: 1;
    }
    .gallery-bg{
      opacity: 0.06;
    }
    .c-events-gallery-block{
      opacity: 1;
    }
    .c-events-gallery-block-top-left{
      bottom: 0;
      right: 0;
    }
    .c-events-gallery-block-bottom-left{
      top: 0;
      right: 0;
    }
    .c-events-gallery-zorin{
      right: 0;
      opacity: 0.06;
    }
    .c-events-gallery-block-wide{
      bottom: 0;
      left: 0;
    }
    .c-events-gallery-block.nofilter{
      top: 0;
      left: 0;
    }
  }
}
.c-events-comment{
  font-size: 0;
  padding-bottom: 3.333rem;
  .c-events-comment-img-sector,.c-events-comment-text-sector{
    display: inline-block;
    vertical-align: bottom;
  }
  .c-events-comment-text-sector{
    color: #000;
    @include lazy-vendor(b-sh,3px 3px 10px 0 #ddd);
    font-size: 1rem;
  }
  &-first,&-third{
    .c-events-comment-img-sector{
      width: 41.666%;
      .c-events-comment-img-holder{
        margin-left: -8.444rem;
      }
    }
    .c-events-comment-text-sector{
      width: 52.63%;
      margin-left: 5.704%;
      padding: 0.666em 0.555em 0.666em 1em;
      .c-events-comment-author{
        font-size: 0.777em;
        text-align: right;
        padding-left: 50%;
        font-style: italic;
        font-weight: 600;
      }
      p{
        margin: 0;
      }
    }
  }
  &-third{
    .c-events-comment-text-sector{
      padding: 1.666rem 1.111rem 1.111rem;
      .c-events-comment-author{
        font-size: 1em;
        padding-top: 1.666em;
      }
    }
    .c-events-comment-img-holder{
      position: relative;
      &:after{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        background: rgba(255,255,255,0.6);
        @include lazy-vendor(trs,all 0.5s ease);
      }
      &:hover:after{
        background: rgba(255,255,255,0);
      }

    }
  }
  &-second{
    .c-events-comment-img-sector{
      width: 47.36%;
      margin-left: 5.704%;
      .c-events-comment-img-holder{
        position: relative;
        &:after{
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          content: '';
          background: rgba(255,255,255,0.75);
          @include lazy-vendor(trs,all 0.5s ease);
        }
        &:hover:after{
          background: rgba(255,255,255,0);
        }
      }
    }
    .c-events-comment-text-sector{
      width: 46.936%;
      padding: 2.222rem 1.111rem;
      p{
        margin: 0;
      }
    }
    .c-events-comment-author{
      font-size: 0.777em;
      text-align: right;
      padding-left: 50%;
      font-style: italic;
      font-weight: 600;
    }
  }
}
.p-events-comment-section{
  .p-events-comment {
    font-size: 0;
    padding-bottom: 3.333rem;
    .p-events-comment-img-sector, .p-events-comment-text-sector {
      display: inline-block;
      vertical-align: bottom;
      p{
        margin: 0;
      }
    }
    .p-events-text {
      color: #000;
      @include lazy-vendor(b-sh, 3px 3px 10px 0 #ddd);
      font-size: 1rem;
      padding: 0.666em 0.555em 0.666em 1em;
      margin-bottom: 1.111em;
      .p-events-comment-author{
        font-size: 0.777em;
        text-align: right;
        padding-left: 50%;
        font-style: italic;
        font-weight: 600;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .container{
    .row{
      &:nth-child(2n+1){
        .p-events-comment-img-sector{
          width: 41.666%;
          .p-events-comment-img-holder{
            margin-left: -8.444rem;
          }
        }
        .p-events-comment-text-sector{
          width: 52.63%;
          margin-left: 5.704%;
        }
      }
      &:nth-child(2n){
        .p-events-comment-img-sector{
          width: 47.36%;
          margin-left: 5.704%;
        }
        .p-events-comment-text-sector{
          width: 46.936%;
          p{
            margin: 0;
          }
        }
      }
      &:nth-child(3){
        .p-events-comment-img-sector{
          .p-events-comment-img-holder{
            position: relative;
            &:after{
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
              content: '';
              background: rgba(255,255,255,0.75);
              @include lazy-vendor(trs,all 0.5s ease);
            }
            &:hover:after{
              background: rgba(255,255,255,0);
            }
          }
        }
      }
    }
  }
}
.c-events-img-section{
  margin-bottom: 3.333em;
  padding: 2.777em 0 2.777em;
  position: relative;
  .container{
    z-index: 10;
    img{
      position: relative;
      right: 400px;
      opacity: 0;
      @include lazy-vendor(trs,all 0.8s 1.4s ease);
    }
  }
  .c-events-img-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    z-index: 5;
    @include lazy-vendor(trs,all 0.8s 0.8s ease);
    img{
      height: 100%;
      width: auto;
    }
  }
  &.scrollTriggered{
    .c-events-img-bg{
      opacity: 0.07;
    }
    .container img{
      right: 0;
      opacity: 1;
    }
  }
}
.c-events-comments-slider-section{
  padding-bottom: 3.333em;
  .c-events-comments-slider-holder{
    padding: 0 2.5em;
    position: relative;
    .swiper-slide{
      .slider-comment-img{
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.5;
        @include lazy-vendor(trs,all 0.4s ease);
      }
      &:hover .slider-comment-img{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
  .c-events-comments-arrow{
    position: absolute;
    width: 2.5em;
    top: 50%;
    padding: 1em 0;
    cursor: pointer;
    @include lazy-vendor(trsf,translateY(-50%));
    .arrow-circle{
      width: 15px;
      height: 15px;
      @include lazy-vendor(b-r,50%);
      border: 1px solid #000000;
      position: relative;
      display: inline-block;
      .arrow-dot{
        width: 5px;
        height: 5px;
        position: absolute;
        @include lazy-vendor(b-r,50%);
        background: #000;
      }
      .arrow-line{
        position: absolute;
        top: 6px;
        width: 1.666em;
        height: 1px;
        background: #000;
      }
    }
    &-left{
      text-align: left;
      left: 0;
      .arrow-line{
        left: 5px;
      }
      .arrow-dot{
        left: 4px;
        top: 4px;
      }
    }
    &-right{
      text-align: right;
      right: 0;
      .arrow-line{
        right: 6px;
      }
      .arrow-dot{
        right: 4px;
        top: 4px;
      }
    }
  }
}
.c-events-comment-first,.c-events-comment-third{
  .c-events-comment-img-sector{
    position: relative;
    right: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  .c-events-comment-text-sector{
    position: relative;
    left: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  &.scrollTriggered{
    .c-events-comment-img-sector{
      right: 0;
      opacity: 1;
    }
    .c-events-comment-text-sector{
      left: 0;
      opacity: 1;
    }
  }
}
.p-events-comment-section .container .row:nth-child(2n+1) .p-events-comment{
  .p-events-comment-img-sector{
    position: relative;
    right: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  .p-events-comment-text-sector{
    position: relative;
    left: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  &.scrollTriggered{
    .p-events-comment-img-sector{
      right: 0;
      opacity: 1;
    }
    .p-events-comment-text-sector{
      left: 0;
      opacity: 1;
    }
  }
}
.c-events-comment-second{
  .c-events-comment-img-sector{
    position: relative;
    left: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  .c-events-comment-text-sector{
    position: relative;
    right: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  &.scrollTriggered{
    .c-events-comment-img-sector{
      left: 0;
      opacity: 1;
    }
    .c-events-comment-text-sector{
      right: 0;
      opacity: 1;
    }
  }
}
.p-events-comment-section .container .row:nth-child(2n) .p-events-comment {
  .p-events-comment-img-sector{
    position: relative;
    left: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  .p-events-comment-text-sector{
    position: relative;
    right: 500px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  &.scrollTriggered{
    .p-events-comment-img-sector{
      left: 0;
      opacity: 1;
    }
    .p-events-comment-text-sector{
      right: 0;
      opacity: 1;
    }
  }
}
.slider-comment-text{
  padding-top: 2.5em;
  text-align: center;
  p{
    margin: 0;
  }
}
.c-events-bottom-wide-img-holder,.p-events-bottom-wide-img-holder{
  @include cf;
}
.c-events-bottom-wide-img-box{
  float: right;
  position: relative;
  &:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.65);
  }
  img{
    float: right;
    width: 57.8125vw;
  }
}
.p-events-bottom-wide-img-box{
  float: left;
  position: relative;
  &:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.65);
  }
  img{
    float: left;
    width: 57.8125vw;
  }
}

.c-events-comments-slider{
  overflow: hidden;
}
.c-events-bottom-section,.p-events-bottom-section{
  padding-bottom: 3.333em;
}
.c-events-bottom-row{
  text-align: right;
}
.p-events-bottom-row{
  text-align: left;
}
.c-events-bottom-block{
  display: inline-block;
  vertical-align: top;
  &:first-child{
    width: 50%;
  }
  &:last-child{
    width: 33%;
    margin-left: 1.333em;
    position: relative;
    &:after{
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: rgba(255,255,255,0.65);
    }
  }
}
.p-events-bottom-block{
  display: inline-block;
  vertical-align: top;
  &:first-child{
    width: 33%;
    margin-right: 1.333em;
    position: relative;
    &:after{
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: rgba(255,255,255,0.65);
    }
  }
  &:last-child{
    width: 50%;
  }
}
.c-events-bottom-zorin,.p-events-bottom-zorin{
  font-family: Lombok,"Open Sans",sans-serif;
  font-size: 186px;
  display: inline-block;
  line-height: 1em;
  color: black;
  opacity: 0.06;
  z-index: 20;
  margin-top: -15px;
}
.c-events-comments-slider-section{
  opacity: 0;
  @include lazy-vendor(trs,opacity 1s 0.3s ease);
  &.scrollTriggered{
    opacity: 1;
  }
}
.c-events-bottom-section{
  .c-events-bottom-wide-img-holder,.c-events-bottom-zorin{
    position: relative;
    right: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 0.8s 0.3s ease);
  }
  .c-events-bottom-block:last-child{
    left: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 0.8s 0.3s ease);
  }
  &.scrollTriggered{
    .c-events-bottom-wide-img-holder{
      right: 0;
      opacity: 1;
    }
    .c-events-bottom-zorin{
      opacity: 0.06;
      right: 0;
    }
    .c-events-bottom-block:last-child{
      left: 0;
      opacity: 1;
      @include lazy-vendor(trs,all 0.8s 0.3s ease);
    }
  }
}
.p-events-bottom-section{
  .p-events-bottom-wide-img-holder,.p-events-bottom-zorin{
    position: relative;
    left: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 0.8s 0.3s ease);
  }
  .p-events-bottom-block:first-child{
    right: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 0.8s 0.3s ease);
  }
  &.scrollTriggered{
    .p-events-bottom-wide-img-holder{
      left: 0;
      opacity: 1;
    }
    .p-events-bottom-zorin{
      opacity: 0.06;
      left: 0;
    }
    .p-events-bottom-block:first-child{
      right: 0;
      opacity: 1;
      @include lazy-vendor(trs,all 0.8s 0.3s ease);
    }
  }
}
.section-about-me-top-sector{
  .section-heading{
    opacity: 0;
    @include lazy-vendor(trs,all 0.6s 0.4s ease);
  }
  .about-me-text-block{
    position: relative;
    left: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  img{
    position: relative;
    right: 400px;
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
  }
  &.scrollTriggered{
    .section-heading{
      opacity: 1;
    }
    .about-me-text-block{
      left: 0;
      opacity: 1;
    }
    img{
      right: 0;
      opacity: 1;
    }
  }
}
.about-me-centered-row{
  .centered-row-text-sector,.centered-row-img-sector{
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
    position: relative;
  }
  .centered-row-text-sector{
    right: 400px;
  }
  .centered-row-img-sector{
    left: 400px;
  }
  &.scrollTriggered{
    .centered-row-text-sector,.centered-row-img-sector{
      opacity: 1;
    }
    .centered-row-text-sector{
      right: 0;
    }
    .centered-row-img-sector{
      left: 0;
    }
  }
}
.zorin-large-img-row{
  .zorin-big-image-text{
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
    position: relative;
    left: 400px;
  }
  &.scrollTriggered{
    .zorin-big-image-text{
      opacity: 1;
      left: 0;
    }
  }
}
.separated-zorin-row{
  .separated-zorin-text-block,.about-me-separated-img{
    opacity: 0;
    @include lazy-vendor(trs,all 1s ease);
    position: relative;
  }
  .separated-zorin-text-block{
    right: 400px;
  }
  .about-me-separated-img{
    left: 400px;
  }
  &.scrollTriggered{
    .separated-zorin-text-block,.about-me-separated-img{
      opacity: 1;
    }
    .separated-zorin-text-block{
      right: 0;
    }
    .about-me-separated-img{
      left: 0;
    }
  }
}
.zorin-about-me-gallery{
  .zorin-gallery-block{
    position: relative;
    top: 100px;
    opacity: 0;
    @include lazy-vendor(trs,all 0.8s 0.2s ease);
  }
  .zorin-gallery-block:first-child{
    right: 150px;
  }
  .zorin-gallery-block:last-child{
    left: 150px;
  }
  &.scrollTriggered{
    .zorin-gallery-block{
      top: 0;
      opacity: 1;
    }
    .zorin-gallery-block:first-child{
      right: 0;
    }
    .zorin-gallery-block:last-child{
      left: 0;
    }
  }
}
.about-me-bottom-bg{
  opacity: 0;
  @include lazy-vendor(trs,opacity 0.8s ease);
  &.scrollTriggered{
    opacity: 0.1;
  }
}
.news-bg-block{
  opacity: 0;
  @include lazy-vendor(trs,opacity 1s ease);
  &.scrollTriggered{
    opacity: 0.07;
  }
}
.news-row{
  .news-row-text-sector,.news-row-img-sector{
    @include lazy-vendor(trs,all 1s ease);
    opacity: 0;
    position: relative;
  }
  &:nth-child(2n){
    .news-row-img-sector{
      right: 400px;
    }
    .news-row-text-sector{
      left: 400px;
    }
  }
  &:nth-child(2n+1){
    .news-row-img-sector{
      left: 400px;
    }
    .news-row-text-sector{
      right: 400px;
    }
  }
  &.scrollTriggered{
    .news-row-text-sector,.news-row-img-sector{
      opacity: 1;
    }
    &:nth-child(2n){
      .news-row-img-sector{
        right: 0;
      }
      .news-row-text-sector{
        left: 0;
      }
    }
    &:nth-child(2n+1){
      .news-row-img-sector{
        left: 0;
      }
      .news-row-text-sector{
        right: 0;
      }
    }
  }
}
.news-starting-zorin{
  left: 200px;
  opacity: 0;
  @include lazy-vendor(trs,all 0.8s 0.2s ease);
  &.scrollTriggered{
    left: 0;
    opacity: 0.06;
  }
}
.news-page-section .page-heading{
  opacity: 0;
  @include lazy-vendor(trs,all 0.8s 0.2s ease);
  &.scrollTriggered{
    opacity: 1;
  }
}
.timeline-block{
  display: none;
}
.footer .section-link-btn{
  display: block;
  margin: 5px auto;
  font-size: 0.777em;
  width: 10.71em;
  min-width: 5.71em;
  text-align: center;
  max-width: 20%;
  border: 1px solid black;
  vertical-align: middle;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  color: black;
  background: white;
  position: relative;
  z-index: 300;
}

.footer .section-link-btn img {
  width: 80%;
}
@import "select-block";
@import 'media';
